@import './Vars.scss';

BODY {
    margin: 0;
    &::-webkit-scrollbar {
        background-color: $white_color;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $deep_blue;
        border-radius: 6px;
    }
}

.contentWrapper {
    height: 100vh;
    width: 100%;
    .headerWrapper {
        display: flex;
        justify-content: space-evenly;
        height: 5%;
        width: 100%;
        position: fixed;
        font-family: sans-serif;
        background: $white_color;
        align-items: center;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
        .headerContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            .titleHeader {
                font-weight: bold;
                font-size: 3rem;
                color: $electric_blue; 
            }
            .iconHeader {
                position: absolute;
                right: 45%;
                font-size: 4rem;
                color: $electric_blue;
                border-radius: 100%;
            }
        }
    }
    .WeatherContentWrapper {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, $king_blue, $green_blue);
        display: flex;
        justify-content: center;
        align-items: center;
        .WeatherContent {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 80%;
            .formWrapper {
                height: 50%;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: $bg_color;
                border-radius: 8px;
                box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.50);
                .formulario {
                    height: 50%;
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .formTitle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin-bottom: 20px;
                        position: relative;
                        .titleWeatherApp {
                            font-size: 5rem;
                            font-family: sans-serif;
                            font-weight: bold;
                        }
                        svg {
                            font-size: 3rem;
                            color: $deep_blue;
                            position: absolute;
                            bottom: 100%;
                            left: -20%;
                        }
                    }
                    .inputForm {
                        font-size: 40px;
                        margin-bottom: 10px;
                        width: 50%;
                        margin-right: 1.5%;
                        padding-left: 10px;
                        border: 1px solid $border_gray;
                        border-radius: 5px;
                        outline: 0;
                    }
                    .btnForm {
                        margin-top: 25px;
                        color: $white_color;
                        background: $blue_sky;
                        width: 350px;
                        height: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        font-family: sans-serif;
                        font-size: 30px;
                        border-radius: 6px;
                        cursor: pointer;
                        border: none;
                        outline: 0;
                        &:hover {
                            background: $deep_blue2;
                        } 
                    }
                }
                .general_info {
                    width: 500px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    font-size: 35px;
                    position: absolute;
                    bottom: 10%;
                    margin: 5px;
                    background: white;
                    padding: 15px;
                    border-radius: 8px;
                    font-family: sans-serif;
                    div {
                        div {
                            .margin-r5 {
                                margin-right: 5px;
                            }
                        }
                    }
                }
                .pAbsolute {
                    position: absolute;
                }
            }
        }
    }
}

  @media (max-width: 1024px) {
    .contentWrapper {
        .headerWrapper {
            .headerContent {
                .titleHeader {
                    font-size: 18px;
                }
                .iconHeader {
                    right: 5%;
                    font-size: 25px;
                }
            }
        }
        .WeatherContentWrapper {
            .WeatherContent {
                .formWrapper {
                    height: 50%;
                    .formulario {
                        width: 100%;
                        .formTitle {
                            .titleWeatherApp {
                                font-size: 25px;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            svg {
                                font-size: 30px;
                                top: -90%;
                                left: 2%;
                            }
                        }
                        .inputForm {
                            width: 40%;
                            font-size: 12px;
                        }
                        .btnForm {
                            width: 160px;
                            font-size: 16px;
                        }
                    }
                    .general_info {
                        div {
                            div {
                            }
                        }
                    }
                }
            }
        }
    }
  }

@media (max-width: 768px) {
    .contentWrapper {
        .headerWrapper {
            .headerContent {
                .titleHeader {
                    font-size: 18px;
                }
                .iconHeader {
                    right: 5%;
                    font-size: 25px;
                }
            }
        }
        .WeatherContentWrapper {
            .WeatherContent {
                .formWrapper {
                    height: 35%;
                    .formulario {
                        width: 100%;
                        .formTitle {
                            .titleWeatherApp {
                                font-size: 22px;
                                margin-top: 10px;
                                margin-bottom: -10px;
                            }
                            svg {
                                font-size: 30px;
                                bottom: 200%;
                                left: 2%;
                            }
                        }
                        .inputForm {
                            width: 50%;
                            font-size: 12px;
                        }
                        .btnForm {
                            width: 130px;
                            font-size: 13px;
                        }
                    }
                    .general_info {
                        div {
                            div {
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .contentWrapper {
        .headerWrapper {
            .headerContent {
                .titleHeader {
                    font-size: 15px;
                }
                .iconHeader {
                    right: 5%;
                    font-size: 25px;
                }
            }
        }
        .WeatherContentWrapper {
            .WeatherContent {
                .formWrapper {
                    height: 36%;
                    .formulario {
                        width: 100%;
                        .formTitle {
                            .titleWeatherApp {
                                font-size: 16px;
                                margin-top: 10px;
                                margin-bottom: -10px;
                            }
                            svg {
                                font-size: 20px;
                                bottom: 90%;
                                left: 3%;
                            }
                        }
                        .inputForm {
                            width: 70%;
                            font-size: 12px;
                        }
                        .btnForm {
                            padding: 5px;
                            width: 105px;
                            font-size: 12px;
                        }
                    }
                    .general_info {
                        div {
                            div {
                            }
                        }
                    }
                }
            }
        }
    }
  }

  @media (max-width: 450px) {
    .contentWrapper {
        .headerWrapper {
            .headerContent {
                .titleHeader {
                    font-size: 13px;
                }
                .iconHeader {
                    right: 5%;
                    font-size: 20px;
                }
            }
        }
        .WeatherContentWrapper {
            .WeatherContent {
                .formWrapper {
                    height: 30%;
                    .formulario {
                        width: 100%;
                        .formTitle {
                            .titleWeatherApp {
                                font-size: 12px;
                                margin-top: 10px;
                                margin-bottom: -10px;
                            }
                            svg {
                                font-size: 15px;
                                bottom: 85%;
                                left: 2%;
                            }
                        }
                        .inputForm {
                            width: 70%;
                            font-size: 10px;
                        }
                        .btnForm {
                            padding: 5px;
                            width: 90px;
                            font-size: 10px;
                        }
                    }
                    .general_info {
                        div {
                            div {
                            }
                        }
                    }
                }
            }
        }
    }
  }